<launch>
    <!-- <param name="/use_sim_time" value="true" /> -->

    <node name="Stage" pkg="stage_ros" type="stageros" args="$(find stage_ros)/world/willow-erratic.world">
        <!-- <param name="base_watchdog_timeout" value="0.2"/> -->
    </node>

    <remap from="scan" to="base_scan"/>

    <node name="GMapping" pkg="gmapping" type="slam_gmapping">
        <param name="xmin" value="-5.0"/>
        <param name="ymin" value="-5.0"/>
        <param name="xmax" value="5.0"/>
        <param name="ymax" value="5.0"/>
        <param name="maxUrange" value="5.0"/>
        <param name="map_update_interval" value="1.0"/>
    </node>

    <node name="Driver" pkg="grp-marine" type="driver.py" output="screen"></node>

    <node name="Navigateur" pkg="grp-marine" type="navigator.py" output="screen"></node>

    <!-- <node name="BottleOrangeObserver" pkg="grp-marine" type="bottleOrangeObserver.py"></node> -->
    <!-- <node name="BottleBlackObserver" pkg="grp-marine" type="harr_normal.py"></node> -->
    <!-- <node name="BottleReporter" pkg="grp-marine" type="bottleReporter.py"></node> --> 

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-marine)/config/challenge3.rviz" ></node>

</launch>