<launch>
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/quentin/bagfiles/turtlebot_dia.bag"/>
    <node name="GMapping" pkg="gmapping" type="slam_gmapping">
        <param name="xmin" value="-5.0"/>
        <param name="ymin" value="-5.0"/>
        <param name="xmax" value="5.0"/>
        <param name="ymax" value="5.0"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find larm1_slam)/config/rviz_config_gmapping.rviz" ></node>
</launch>